.header{background: rgba(255, 255, 255, .5);}
.banner{width: 100%;}
.banner img{width: 100%;}
/* 菜单导航 */
.menu_nav{background: #f8fff7;}
.menu_nav ul{overflow: hidden;}
.menu_nav ul li{float: left;width: 16.6%;}
.menu_nav ul li a{font-size: 0.18rem;color:#666;display: block;padding:0.25rem;text-align: center;}
.menu_nav ul .active{border-bottom: 0.05rem solid #009140;}
/* 门店查询 */
.store{padding: 0.6rem 0;}
.store h2{font-size: 0.36rem;color: #333;margin-bottom: 0.3rem;text-align: center;}
.store .container>p{font-size: 0.2rem;color: #333;text-align: center;}
.store ul{float: left;width: 3rem;}

.store .container>div{margin-top: 0.6rem;overflow: hidden;}
.store ul li{padding: 0.2rem 0rem 0.3rem 0.2rem;border: 0.01rem solid #ccc;}
.store ul li:nth-child(1) h4::before{content: "1";width: 0.3rem;height: 0.3rem;display:inline-block;background: #009140;border-radius: 50%;text-align: center;line-height: 0.3rem;margin-right: 0.1rem;}
.store ul li:nth-child(2) h4::before{content: "2";width: 0.3rem;height: 0.3rem;display:inline-block;background: #009140;border-radius: 50%;text-align: center;line-height: 0.3rem;margin-right: 0.1rem;}
.store ul li:nth-child(3) h4::before{content: "3";width: 0.3rem;height: 0.3rem;display:inline-block;background: #009140;border-radius: 50%;text-align: center;line-height: 0.3rem;margin-right: 0.1rem;}
.store ul li h4{font-size: 0.2rem;color: #333;line-height: 1.5;}
.store ul li:nth-child(1) p::before{content: "";width: 0.11rem;height: 0.17rem;display: inline-block;background: url(../images/store_06.png) left top no-repeat;background-size:100%;vertical-align: middle;margin-right: 0.1rem;} 
.store ul li:nth-child(2) p::before{content: "";width: 0.11rem;height: 0.17rem;display: inline-block;background: url(../images/store_06.png) left top no-repeat;background-size:100%;vertical-align: middle;margin-right: 0.1rem;} 
.store ul li:nth-child(3) p::before{content: "";width: 0.11rem;height: 0.17rem;display: inline-block;background: url(../images/store_06.png) left top no-repeat;background-size:100%;vertical-align: middle;margin-right: 0.1rem;} 
.store ul li p{margin-top: 0.25rem;line-height: 1.5;font-size: 0.16rem;color: #333;}
/* 地图 */
.store #map{float: right;width: 8.5rem;height: 5.54rem;}
.anchorBL img{display: none;}
@media(max-width: 767px){
	html{font-size: 350%;}
	.container{
		width: 100%;
		padding: 0 0.3rem;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.pc{
		display: none;
	}
	.mobile{
		display: block;
		}
    .header{background: none;}
    .banner{width: 100%;}
    .banner img{width: 100%;}
    /* 门店查询 */
    .store ul{float: none;width:100%;}
	.store #map{float: none;width:100%;}
	.store ul li p{font-size: 0.22rem;}
	.store ul li h4{font-size: 0.3rem;}
}